* {
  box-sizing: border-box;
  margin: 0;
  /* border:1px solid rgba(255, 0, 0, 0.5); */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;  
  margin-top: 64px;
}

.App-header {
  background-color: #282c34;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-search {
 margin: 10px 5px;
 z-index: 3;

}

.nav-search > button {
  margin-right: 50px;
}
.App-header > button {
  margin-right: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.button-primary {
  background-color: #23454e;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.button-primary:hover {
  background-color: #4cafc7;
  color: rgb(10, 9, 37);
  transition: 0.5s;
}

.button-secondary {
  background-color: #676767;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: #e7e7e7;
  color: rgb(59, 59, 59);
  transition: 0.5s;
}

.button-tertiary {
  background-color: transparent;
  color: rgb(85, 85, 85);
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: #e7e7e7;
  color: rgb(59, 59, 59);
  transition: 0.5s;
}

.delete {
  background-color: #b84868;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.close{
  position: absolute;
  border-radius: 20px;
  color:rgb(158, 158, 158);
  top: -3px;
  right: -3px;
  cursor: pointer;
}

.close:hover {
  background-color: #909090;
  box-shadow: 0px 0px 15px 2px rgba(102, 102, 102, 0.6);
  color: white;
}

.next {
  position: absolute;
  font-size: 30px;
  color:rgb(158, 158, 158);
  top: 50%;
  right: -30px;
  cursor: pointer;
  z-index: 2;
  padding: 5px;
}

.previous {
  position: absolute;
  font-size: 30px;
  color:rgb(158, 158, 158);
  top: 50%;
  left: -30px;
  cursor: pointer;
  padding: 5px;
}



.App-link {
  color: #61dafb;
}

.add-puppy-form {
  background-color: #282c34;
  width: 100%;
  color: white;
}

.input > label{
  margin-top: 20px;
}

.welcome-page {
  width: 100%;
  height: 85vh;
}

.welcome-page-section {
  height: 100%;
  background-attachment: fixed;  
}

.welcome-page-section:nth-child(1) {
  background-image: url("./assets/dogBackground.jpg");
  background-size: cover;
}

.welcome-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.welcome-page-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 80px;
  justify-content: center;
  width: 60%;
  color: white;
}
.welcome-page-text>* {
  margin: 10px 0;
}
.welcome-page-text > h1 {
  font-size: 4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.choose-image {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  color: white;
}
.choose-image > div > img{
  width: 200px;
  height: auto;
  cursor: pointer;
}

.choose-image > div > img:hover{
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
}

.error-message-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 64px;
  width: 100%;
  background-color: rgb(40, 44, 52, 0.5);
  color: white;
  position:absolute;
  z-index: 2;
}

.image-small {
  width: 200px;
  height: auto;
}