* {
  box-sizing: border-box;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: sticky;
  width: 100%;
}

.nav-search {
 margin: 10px 5px;
}

.nav-search > button {
  margin-right: 50px;
}
.App-header > button {
  margin-right: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

.add-puppy-form {
  background-color: #282c34;
  color: white;
}

.input > label{
  margin-top: 20px;
}

.welcome-page {
  width: 100%;
  height: 75vh;
}

.welcome-page-section {
  height: 100%;
  background-attachment: fixed;  
}

.welcome-page-section:nth-child(1) {
  background-image: url("./assets/dogBackground.jpg");
  background-size: cover;
}

.welcome-page-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.welcome-page-text-container > h1 {
  font-size: 4rem;
  margin: 0;
}

.choose-image {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  color: white;
}
.choose-image > div > img{
  width: 200px;
  height: auto;
  cursor: pointer;
}

.choose-image > div > img:hover{
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
}

.error-message-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 64px;
  width: 100%;
  background-color: rgb(40, 44, 52, 0.5);
  color: white;
  position:absolute;
  z-index: 2;
}