.puppy-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 10px;
  gap: 10px;
}

.puppy-card {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 200px;
  background-color: rgb(93, 93, 93);
  border-radius: 4px;
  box-shadow: 4px 4px 4px 1px rgba(176, 176, 176, 0.6);
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.puppy-card>img {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
}

.puppy-card-inlist:hover {
  box-shadow: 0px 4px 4px 5px rgba(176, 176, 176, 0.9);
}