.puppy-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 5px;
  gap: 10px;
  max-width: 1000px;
  position: relative;
  top: 60px;
}

.puppy-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 15px 15px 5px 5px;
  box-shadow: 4px 4px 4px 1px rgba(219, 219, 219, 0.6);
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  cursor: zoom-in;
}

.puppy-card>img {
  max-height: 200px;
  height: auto;
  object-fit: cover;
  position: relative;
}

.puppy-card-inlist:hover {
  box-shadow: 0px 4px 4px 5px rgba(176, 176, 176, 0.9);
}

.puppy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.puppy-card-solo {
  display: flex;
  width: 90%;
  background-color: rgb(255, 255, 255);
  color: rgb(47, 47, 47);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(219, 219, 219, 0.9);
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  position: relative;
  top: 50px;
}


.puppy-image {
  max-height: 70vh;
  height: auto;
  object-fit: scale-down;
  margin: 20px;
  box-shadow: 0px 0px 14px 4px rgba(102, 102, 102, 0.2);
}
.puppy-details-container{
  flex:1;
  display: flex;
  gap: 30px;
  margin-left: 30px;
  align-items: flex-start;
  
}

.puppy-details {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}


.search-bar {
  display: flex;
  flex-direction: row;
  gap: 3px;
  max-width: 900px;
}

.search-bar>input {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid rgb(219, 219, 219);
  padding: 0 10px;
  font-size: 1rem;
}

.search-bar>button {
  height: 30px;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 1rem;
  background-color: rgb(130, 130, 130);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .puppy-image {
    max-width: 100%;
    margin: 0;
  }
  .puppy-card-solo {
    flex-direction: column;
  }
  .puppy-details-container{
    flex-direction: column;
    margin-left: 0;
  }
  .puppy-details {
    align-items: center;
  }
}
